/*task of 6blocks using inline-block property value starts*/

.sub-1{
    
    height:30%;
    width:25%;
    border:3px solid blue;
    display:inline-block;
    padding-bottom:200px;
    margin-left:100px;
    
    
    
}
.sub-2{

    height:30%;
    width:25%;
    border:3px solid blue;
    display:inline-block;
    padding-bottom:200px;
    margin-left:20px;
    margin-top:20px;
}
.sub-3{
    
    height:30%;
    width:25%;
    border:3px solid blue;
    display:inline-block;
    padding-bottom:200px;
    margin-left:20px;
    margin-top:20px;
}
.sub-4{
    
    height:30%;
    width:25%;
    border:3px solid blue;
    display: inline-block;
    padding-bottom:200px;
    margin-left:20px;
    margin-top:20px;

}
.sub-5{
    
    height:30%;
    width:25%;
    border:3px solid blue;
    display: inline-block;
    padding-bottom:200px;
    margin-left:20px;
    margin-top:20px;
}
.sub-6{
    
    height:30%;
    width:25%;
    border:3px solid blue;
    display: inline-block;
    margin-left:20px;
    margin-top:20px;
}
/*task3 ends*/