/*task3 initiated*/
.sub-1{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-2{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}  
.sub-3{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-4{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-5{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-6{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-7{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-8{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-9{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-10{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-11{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
.sub-12{
    border:1px solid skyblue;
    background-color: palevioletred;
    display:inline-block;
    height:700px;
    width:7.7%;
}
/*task3 ends*/  