div{
    width:250px;
    height:250px;
    border:2px solid red;
    padding:100px;

}
.b1{
    font-size: 50px;
    text-decoration-line:underline;
    margin:20px;
    
}
.b2{
    font-size:30px;
    text-decoration:underline;
    margin:50px;
}