
.parent .parent-1 .p1-child-1 h1{
    color:blueviolet;
}
.parent .parent-1 .p1-child-1 h2{
    color:brown;
}
.parent .parent-1 .p1-child-1 .child-1-para{
    color:aqua;
}
.parent .parent-1 .p1-child-2 .pic{
    width:200px;
}
