h1{
    color:blue;
    
    
}
p{
    color:blue;
}
ul{
    color:green;
}
.headone{
    color:brown;
    text-decoration:underline;
}
.headtwo{
    color:blueviolet;
    text-decoration:underline;
}