.karka-logo{
    margin-right: 182px;
    margin-left: 62px;
    padding: 21px 0px;
}
.searchbar{
    margin-left: 162px;
}
.li{
    font-family: Roboto;
    font-size: 23px;
    margin-right: 20px;
}
.add{
    
    color: white;
}
.address{
    border-bottom:1px solid white;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Poppins';
    margin-top: 100px;
    width:154px;
}
.address-para{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #AEAEAE !important;

}
footer{
    background-color: black;
    margin-top: 222px;
}
.copyright{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    color: #AEAEAE;
    margin-top: 126px;
}

