form{
    position:fixed;
    left:38%;
    top:10%;
    
}
.li{
    display:inline-block;
    color:#fff;
    margin-right:20px;
    font-size:20px;
    
    
}
h1{
    text-align: left;
}


input{
    border:1px solid white;
    border-bottom: 4px solid #FAA61A;
    
    
}
label{
    display:inline-block;
    width:150px;
}
section{
    position:sticky;
    top:10px;
    border:1px solid #333;
    width:100%;
    height:55px;
    background-color: #333;
    text-align: center;

}
.btn{
    background-color: #FAA61A;
    margin-left:600px;
}
.div1{
    color:red;
    background-color: #FAA61A;
    display:inline-block;
    width:47%;
    margin-top: 40px;
    
}
.div2{
    color:red;
    background-color: #FAA61A;
    display:inline-block;
    width:47%;
    margin-top: 40px;
}
.ulli{
    background-color: #FAA61A;
    color:black;
}
.olli{
    background-color: #FAA61A;
    color:black;
}
img{
    margin-top:20px;
    width:65%;
    height:700px;
}


 

    



