<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        ul{
            border:1px solid black;
            padding: bottom 40px;
            background-color: black;

        }
        div{
            position:absolute;
            left:40%;
        }
        li{
            display:inline-block;
            color: white;
            margin-right:20px;
            
            
        }
    </style>
    <title>Home</title>
</head>
<body>
    <ul>
        <div>
        <li>Basics Tags</li>
        <li>Form</li>
        <li>Display</li>
        <li>iframe</li>
        </div>
    </ul>
    
</body>
</html>